{% extends "WtsdaAppBundle:Layouts:defaultNoSideBar.html.twig" %}

{% set useMap = true %}

{% block navActDojangs %} class="active"{% endblock %}

{% block head_title_tag_page %}{% trans %}app.title.dojangs.text{% endtrans %}{% endblock %}

{% block leftContent %}
    <h3>{% trans %}app.headers.dojangs.text{% endtrans %}</h3>

    <div class="row-fluid">
    <div class="span6">
        <div id="accordionDojangs" class="accordion">
            {% for key, dojang in dojangs %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionDojangs" href="#collapse{{ key }}">
                            {{ dojang.name }}
                        </a>
                    </div>
                    <div id="collapse{{ key }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div class="span12">
                                    <strong>Name:</strong>  {{ dojang.name }}<br />
                                    <strong>Instructor:</strong> {{ dojang.instructor }}<br />
                                    <strong>Phone:</strong>  {{ dojang.phone }}<br />
                                    {% if dojang.email is not empty %}
                                        <strong>Email:</strong>
                                        <a href="mailto:{{ dojang.email }}">{{ dojang.email }}</a><br />
                                    {% endif %}
                                    {% if dojang.website is not empty %}
                                        <strong>Website:</strong>
                                        <a href="{{ dojang.website }}">{{ dojang.website }}</a><br />
                                    {% endif %}
                                    <hr />
                                    <strong>Address</strong>
                                    <br />
                                    <address>
                                        {{ dojang.address }}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
    <div id="mapCanvas" class="span6" style="height: 300px;"></div>
    </div>
{% endblock %}

{% block body_js_jquery_ready %}
    var myLatlng = new google.maps.LatLng(35.868729,-136.417969);
    var mapOptions = {
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map($('#mapCanvas')[0], mapOptions);

    var mybounds = new google.maps.LatLngBounds();
    var geocoder = new google.maps.Geocoder();
    var marker = null;
    {% for key, dojang in dojangs %}
        marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng({{ dojang.location.lat }}, {{ dojang.location.lng }}),
            animation: google.maps.Animation.DROP,
            flat: true,
            title: '{{ dojang.name }}'
        });
        mybounds.extend(marker.getPosition());
    {% endfor %}
    //console.log(mybounds);
    //console.log(mybounds.getCenter());
    var center = mybounds.getCenter();
    map.setCenter(center);
    map.fitBounds(mybounds)
{% endblock %}
